/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 44px;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-image: url("./../public/glassesImage/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  backdrop-filter: grayscale(1);
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 0;
}
.header__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.glass__content .glass__show {
  position: relative;
}
.glass__content .glass__show .glass__image {
  width: 200px;
  margin: 40px auto;
  position: relative;
  box-shadow: 0 0 10px 5px #fff;
}
.glass__content .glass__show .glass__image-model {
  width: 100%;
}
.glass__content .glass__show .glass__image-product {
  width: 60%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.glass__content .glass__show .glass__info {
  position: absolute;
  width: 200px;
  top: 70%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6f009f;
  padding: 0 10px;
}
.glass__content .glass__show .glass__info .glass__title {
  font-size: 2rem;
  color: #8666e4;
  margin: 5px 0;
}
.glass__content .glass__show .glass__info .glass__detail {
  font-size: 1.2rem;
  color: #fff;
}
.glass__content .glass__choose {
  margin: 50px auto;
  width: 80%;
  background: #fff;
  display: flex;
}
.glass__content .glass__choose .glass__list {
  padding: 60px 30px;
}
.glass__content .glass__choose .glass__list .glass-item {
  border: 2px solid #ccc;
  margin-bottom: 20px;
  transition: transform 0.5s;
}
.glass__content .glass__choose .glass__list .glass-item img {
  width: 100%;
}
.glass__content .glass__choose .glass__list .glass-item:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/*# sourceMappingURL=index.css.map */
